# dependencies
node_modules

# build
dist
dist-ssr

# env
.env
.env.local
.env.*.local

# editor
.vscode/*
!.vscode/extensions.json
.idea

# os
.DS_Store

# logs
*.log
npm-debug.log*

# claude
.claude/settings.local.json
